<section class="section" id="contact">
  <div class="container contact">
    <div class="section-box">
      <div class="mb-4" data-animate="fadeInDown" data-animate-duration="1000">
        <h3 class="contact-pre-title big-subtitle" [style]="setTextAlign('Banner.Myname' | translate)">
          <!-- 04. {{ "Contact.Pretitle" | translate }} -->
          04. {{ "Contact.CCTitle" | translate }}
        </h3>
        <!-- <h4 class="e-font contact-title big-title" 
            data-animate="typewriter"
             [style]="setTextAlign('Banner.Myname' | translate)"
            data-animate-delay="500">
          {{ "Contact.CCTitle" | translate }}
        </h4> -->
      </div>
      <p data-animate="morphIn" [style]="setTextAlign('Banner.Myname' | translate)"
         data-animate-duration="1200"
         data-animate-delay="2500">
        {{ "Contact.Content" | translate }}
      </p>
      <div class="mt-5"
           data-animate="scaleIn"
           data-animate-duration="800"
           data-animate-delay="3500">
        <app-dynamic-button
          [text]='"Contact.Btn" | translate'
          href="mailto:HasanpourBabak440@gmail.com"
          target="_blank"
          analyticsEvent="click_send_mail"
          analyticsCategory="contact"
          analyticsLabel="email"
          variant="primary">
        </app-dynamic-button>
      </div>
    </div>
  </div>
</section>
